.App {
  width: 100%;
  background-image: url('./MainContent/ForecastContainer/images/beach1.jpg');
  background-repeat: no-repeat;
}

::-webkit-scrollbar {
  background: transparent;
  width: 10px;
}
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background:#1b1d28; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


